body {
    color: #89adcf;
    background: #ecf6ff;
    margin: 0px;
    font-size: 13px;
    color: rgb(255, 255, 255)
}

header {
    border-bottom: solid 2px rgb(137, 173, 207);
    padding: 20px;
}
