body {
    color: #89adcf;
    background: #d4ebff;
    margin: 0px;
      font-family: "Family-Cookie"
}

header {
    border-bottom: solid 2px rgb(81, 144, 204);
    padding: 20px;
    font-size: 33px;
    color: rgb(81, 144, 204)
}

section {
    background: rgb(236, 246, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 15px;
}

img {
  height: 200px;
}
