body {
    color: #89adcf;
    background: #ecf6ff;
    margin: 0px;

}

header {
    border-bottom: solid 2px rgb(137, 173, 207);
    padding: 20px;
    font-size: 13px;
    color: rgb(103, 158, 209)
}
